# Source https://github.com/DraftShift/StealthChanger/blob/main/Klipper/Toolhead_T0.cfg
[mcu SB2209T4]
# Stealthburner (red) + BTT SB2209
canbus_uuid: 0beaeee90fc5

[adxl345 SBT4]
cs_pin: SB2209T4:PB12
spi_software_sclk_pin: SB2209T4:PB10
spi_software_mosi_pin: SB2209T4:PB11
spi_software_miso_pin: SB2209T4:PB2
axes_map: z,-y,x

[neopixel T4_leds]
pin: SB2209T4:PD3
#   The pin connected to the neopixel. This parameter must be provided.
chain_count: 3
#   The number of Neopixel chips that are "daisy chained" to the
#   provided pin. The default is 1 (which indicates only a single
#   Neopixel is connected to the pin).
color_order: GRBW
#   Set the pixel order required by the LED hardware. Options are GRB,
#   RGB, GRBW, or RGBW. The default is GRB.
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0
initial_WHITE: 0.0

[gcode_macro _T4_vars]
variable_logo_led_name:         "T4_leds" 
# The name of the addressable LED chain that contains the logo LED(s)
variable_logo_idx:              "1" 
# A comma-separated list of indexes LEDs in the logo
variable_nozzle_led_name:       "T4_leds"
# The name of the addressable LED chain that contains the nozzle LED(s). This will
# typically be the same LED chain as the logo.
variable_nozzle_idx:            "2,3"
# A comma-separated list of indexes of LEDs in the nozzle
gcode:
    # This section is required.  Do Not Delete.

[gcode_macro SBT4]
variable_active: 0
variable_filament_consumed: 0
gcode:
  {% if printer.toolhead.homed_axes != "xyz" %}
    {action_respond_info("Please home XYZ first")}
  {% else %}
    _TOOLCHANGER_DISABLE_FILAMENT_SENSORS
    SET_GCODE_VARIABLE MACRO=SBT4 VARIABLE=active VALUE=1
    ACTIVATE_EXTRUDER EXTRUDER=extruder4
    SELECT_TOOL T=4
  {% endif %}

#Change tool number if needed in the next line, as well ast the last line
[gcode_macro T4]
variable_realtool: "SBT4"
variable_backuptool: ""
variable_color: ""
gcode:
  {% set consumed = printer["gcode_macro " ~ realtool].filament_consumed|int %}
  {% if consumed and backuptool %}
    { action_respond_info(realtool ~ " empty loading backup") }
    {backuptool}
  {% else %}
    { action_respond_info("Switching to " ~ realtool) }
    {realtool}
  {% endif %}


#####################################################################
#   Extruder
#####################################################################
[extruder4]
step_pin: SB2209T4:PD0
dir_pin: SB2209T4:PD1
enable_pin: !SB2209T4:PD2
##  Update value below when you perform extruder calibration
##  If you ask for 100mm of filament, but in reality it is 98mm:
##  rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / 100
##  22.6789511 is a good starting point
rotation_distance: 22.658540 # Calibrated
##  Update Gear Ratio depending on your Extruder Type
##  Use 50:10 for Stealthburner/Clockwork 2
##  Use 50:17 for Afterburner/Clockwork (BMG Gear Ratio)
##  Use 80:20 for M4, M3.1
#gear_ratio: 50:10               #BMG Gear Ratio
microsteps: 16
gear_ratio: 50:10               #BMG Gear Ratio
full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: SB2209T4:PB13
# PT1000
sensor_type:MAX31865
sensor_pin: SB2209T4:PA4
spi_bus: spi1
rtd_use_50Hz_filter: True
rtd_nominal_r: 100
rtd_reference_r: 430
rtd_num_of_wires: 2

min_temp: -250
max_temp: 350
max_power: 1.0
min_extrude_temp: 180
max_extrude_only_distance: 500.0
max_extrude_only_velocity: 120.0

control = pid
pid_kp = 19.894
pid_ki = 1.617
pid_kd = 61.175

pressure_advance: 0.025                                               # See tuning pressure advance doc
pressure_advance_smooth_time: 0.030

[tmc2209 extruder4]
uart_pin: SB2209T4:PA15
interpolate: false
run_current: 0.55
sense_resistor: 0.110
stealthchop_threshold: 0

##  Print Cooling Fan
[fan_generic T4_partfan]
pin: SB2209T4:PA1
kick_start_time: 0.7
off_below: 0.12
max_power: 1.0

##  Hotend Fan
[heater_fan T4_hotend_fan]
pin: SB2209T4:PA0
tachometer_pin: ^SB2209T4:PB15
tachometer_ppr: 2
max_power: 1.0
kick_start_time: 0.5
heater: extruder4
heater_temp: 50.0
##  If you are experiencing back flow, you can reduce fan_speed
#fan_speed: 0.9

[tool SBT4]
tool_number: 4
#if this were T1, then this would be extruder4, etc
extruder: extruder4
#Change SBT4_partfan to tool number
fan: fan_generic T4_partfan
gcode_x_offset: -0.309375
gcode_y_offset: -4.101563
gcode_z_offset: 7.0
#These are build specific, its where the tool is sititng in it's dock.
params_park_x: 333.50
params_park_y: -30.00
params_park_z: 303.000

# For InputShaper run per tool and enter the frequency here, the type can not
# be changed currently, so the type will be global and shared
params_input_shaper_type_x: 'mzv'
params_input_shaper_freq_x: 56.4
params_input_shaper_damping_ratio_x: 0.070
params_input_shaper_type_y: 'mzv'
params_input_shaper_freq_y: 39.2
params_input_shaper_damping_ratio_y: 0.070

[tool_probe SBT4]
pin: SB2209T4:PB9
tool: 4
x_offset: 0
y_offset: 0
z_offset: -0.840
speed: 5.0
lift_speed: 30.0
samples: 4
samples_result: median
sample_retract_dist: 1.0
samples_tolerance: 0.02
samples_tolerance_retries: 3
activate_gcode:
    _TAP_PROBE_ACTIVATE HEATER=extruder4 TEMP=150
